<p id="notice"><%= notice %></p>

<p>
  <strong>F name:</strong>
  <%= @school.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @school.l_name %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
